<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BaseStockMapper">


    <resultMap id="BaseResultMap" type="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="tdx_market_type" jdbcType="TINYINT" property="tdxMarketType"/>
        <result column="trade_date" jdbcType="DATE" property="tradeDate"/>
        <result column="open_price" jdbcType="DECIMAL" property="openPrice"/>
        <result column="high_price" jdbcType="DECIMAL" property="highPrice"/>
        <result column="low_price" jdbcType="DECIMAL" property="lowPrice"/>
        <result column="close_price" jdbcType="DECIMAL" property="closePrice"/>
        <result column="adj_close_price" jdbcType="DECIMAL" property="adjClosePrice"/>
        <result column="volume" jdbcType="BIGINT" property="volume"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="change_pct" jdbcType="DECIMAL" property="changePct"/>
        <result column="range_pct" jdbcType="DECIMAL" property="rangePct"/>
        <result column="turnover_pct" jdbcType="DECIMAL" property="turnoverPct"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.bebopze.tdx.quant.dal.entity.BaseStockDO">
        <result column="kline_his" jdbcType="LONGVARCHAR" property="klineHis"/>
    </resultMap>


    <sql id="Base_Column_List">
        id
        , code, name, tdx_market_type, trade_date,
        open_price, high_price, low_price, close_price, adj_close_price, volume, amount,
        change_pct, range_pct, turnover_pct, gmt_create,  gmt_modify
    </sql>
    <sql id="Blob_Column_List">
        kline_his
    </sql>


    <select id="getByCode" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        SELECT

        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        FROM base_stock

        WHERE code = #{code}
    </select>

    <select id="listSimpleByCodeList" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT

        id AS id,
        code AS code


        FROM base_stock

        <where>
            code IN
            <foreach collection="codeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>
        </where>
    </select>


    <select id="listBaseByCodeList" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT

        <include refid="Base_Column_List"/>

        FROM base_stock

        <where>
            code IN
            <foreach collection="codeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>
        </where>
    </select>


</mapper>
