<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BaseBlockMapper">


    <sql id="baseInfo">
        id,  code    ,name   ,type,parent_id,level,end_level,

        trade_date,open,high,low,close ,adj_close,

        volume,amount,

        change_pct,range_pct ,turnover_pct,

        gmt_create,gmt_modify
    </sql>


    <select id="getIdByCode" resultType="long">
        select id
        from base_block
        where code = #{code}
    </select>


    <select id="getByCode" parameterType="java.lang.String" resultType="baseBlockDO">
        select *
        from base_block
        where code = #{code}
    </select>


    <select id="listAllSimple" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        SELECT id   AS id,
               code AS code

        FROM base_block
    </select>


    <select id="listSimpleByCodeList" parameterType="java.lang.String" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">

        SELECT

        id AS id,
        code AS code


        FROM base_block

        <where>
            code IN
            <foreach collection="codeList" open="(" separator="," close=")" item="code">
                #{code}
            </foreach>
        </where>
    </select>


</mapper>