<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BaseBlockMapper">


    <select id="getIdByCode" resultType="long">
        select id
        from base_block
        where code = #{code}
    </select>


    <select id="getByCode" parameterType="java.lang.String" resultType="baseBlockDO">
        select *
        from base_block
        where code = #{code}
    </select>


    <select id="listAllSimple" resultType="com.bebopze.tdx.quant.dal.entity.BaseBlockDO">
        SELECT id   AS id,
               code AS code

        FROM base_block
    </select>


</mapper>