<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BtPositionRecordMapper">


    <select id="listByTaskIdAndTradeDateAndPosType" resultType="com.bebopze.tdx.quant.dal.entity.BtPositionRecordDO">

        SELECT *


        FROM bt_position_record


        WHERE task_id = #{taskId}

          AND trade_date = #{tradeDate}

          AND position_type = #{positionType}

    </select>


    <select id="listByTaskIdAndTradeDateRange" resultType="com.bebopze.tdx.quant.dal.entity.BtPositionRecordDO">

        SELECT *


        FROM bt_position_record


        WHERE task_id = #{taskId}


        <if test="startTradeDate != null">
            <![CDATA[     AND trade_date >= #{startTradeDate}     ]]>
        </if>

        <if test="endTradeDate != null">
            <![CDATA[     AND trade_date <= #{endTradeDate}     ]]>
        </if>

    </select>


    <delete id="deleteByTaskIds">
        DELETE
        FROM bt_position_record

        WHERE task_id IN


        <foreach collection="taskIdList" item="taskId" open="(" close=")" separator=",">
            #{taskId}
        </foreach>
    </delete>


    <delete id="deleteByTaskIdAndTradeDateRange">
        DELETE
        FROM bt_position_record


        WHERE task_id = #{taskId}


        <if test="startTradeDate != null">
            <![CDATA[     AND trade_date >= #{startTradeDate}     ]]>
        </if>

        <if test="endTradeDate != null">
            <![CDATA[     AND trade_date <= #{endTradeDate}     ]]>
        </if>

    </delete>


</mapper>
