<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.tdx.quant.dal.mapper.BtTradeRecordMapper">


    <select id="listByTaskIdAndTradeDate" resultType="com.bebopze.tdx.quant.dal.entity.BtTradeRecordDO">

        SELECT task_id,
               trade_type,
               stock_id,
               ANY_VALUE(stock_code)       AS stock_code,
               ANY_VALUE(stock_name)       AS stock_name,


               SUM(quantity)               AS quantity,
               SUM(quantity * price + fee) AS total_cost


        FROM bt_trade_record


        WHERE task_id = #{taskId}

         <![CDATA[     AND trade_date <= #{tradeDate}     ]]>


        GROUP BY stock_id, trade_type

    </select>


</mapper>
